<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Who We Are</h2>
      <p class="flow-text">We are a Software  Development Company with the brightest minds and experience in the industry. We have
      wrapped up numerous successful projects with our extensive clientele based across the world.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <p> With applications in iOS, Android, Web and Desktop, we strive to help you with the ideal business solutions. Our place at the pinnacle of success has been made
    possible by the efforts of our professionals, each with an expertise in varying domain critical to Software Application Development.
    We allow every worker to express themselves, and through their determination and dedication, come up with a solution that
    in itself is a new benchmark for the others to be inspired from. The eagerness to take up tasks that are challenging is what
    sets us apart from our contemporaries in the industry, and the same curiosity is channelized into a work a methodology which
    has helped us attain massive success in this short period. At Erison TechLabs, we believe every idea holds immense promise, and
    therefore, we impart innovation and intelligence to transform your vision into an impeccable reality.</p>
  </div>
</div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Our Office</h2>
      <p class="flow-text">Our world-class office where ideas are brought into reality </p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-01.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-02.jpg'|theme }}">
    </div>
  </div>

  <div class="hide-on-small-only" style="height: 20px;"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-03.jpg'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-04.jpg'|theme }}">
    </div>
  </div>
</div>
